In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True

In [3]:
connection_string = "mysql://root:simple@127.0.0.1"

In [4]:
%sql $connection_string

In [8]:
%%sql

CREATE SCHEMA IF NOT EXISTS university

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [9]:
%%sql 

USE university

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [10]:
%%sql

CREATE TABLE person (
    person_id  int  NOT NULL,
    first_name varchar(30) NOT NULL,
    last_name varchar(30) NOT NULL,
    PRIMARY KEY(person_id)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [17]:
%%sql

INSERT INTO person VALUES (2, "Jane", "Doe"), (3, "Alice", "Cooper")

 * mysql://root:***@127.0.0.1
2 rows affected.

[]

In [18]:
%%sql

SELECT * FROM person

 * mysql://root:***@127.0.0.1
3 rows affected.

[(1, 'Alice', 'Cooper'), (2, 'Jane', 'Doe'), (3, 'Alice', 'Cooper')]