# Optional: Learn to use cursors 

Cursors are the usual way of issuing database queries and processing their results.

In [3]:
import pymysql

creds = {'user': 'root', 'password': 'simple', 'host':'127.0.0.1'}

# establish a database connection
conn = pymysql.connect(
    host=creds['host'], 
    user=creds['user'], 
    passwd=creds['password'],
    autocommit=True,
)
cursor = conn.cursor(
    cursor=pymysql.cursors.DictCursor)
cursor.execute("CREATE SCHEMA IF NOT EXISTS university")

1

In [4]:
s = '''
Yesterday, 
all my troubles seemed so far away.
Now it seems as though they're here to stay.
Oh, how I long for yesterday.
'''

In [6]:
cursor.execute('CREATE schema university')

ProgrammingError: (1007, "Can't create database 'university'; database exists")

In [ ]:
cursor.execute('USE university')
cursor.execute("""
CREATE TABLE person(
person_id int not NULL,
first_name varchar(30) NOT NULL,
last_name varchar(30) NOT NULL,
date_of_birth date NOT NULL,
primary key(person_id)
)
"""
)
cursor.execute("DROP TABLE person")
cursor.execute(
    """
    INSERT INTO person 
    VALUES
    (2, "Jane", "Doe", "2002-02-02"),
    (3, "John", "Smith", "2003-03-01"),
    (4, "John", "Wick", "1979-12-02")
""")
cursor.execute("""
    SELECT * FROM person
""")

ProgrammingError: (1146, "Table 'university.person' doesn't exist")

In [ ]:
for rec in cursor:
    print(rec)
cursor.fetchall()
# insert 
cursor.execute(
    """
    INSERT INTO person 
    (person_id, first_name, last_name, date_of_birth) VALUES
    (%s, %s, %s, %s)
""", (5, faker.first_name(), faker.last_name(), faker.date_of_birth()))
from tqdm import tqdm
for i in tqdm(range(1000, 1200)):
    cursor.execute("""
    INSERT INTO 
    person (person_id, first_name, last_name, date_of_birth) 
    VALUES (%s, %s, %s, %s)
    """, (i, faker.first_name(), faker.last_name(), faker.date_of_birth()))
cursor.execute("""
SELECT * FROM person
""")
cursor.fetchall()
cursor.execute("""
DROP TABLE dimitri_test.fake_person
""")
import datetime
cursor.execute("""USE dimitri_test""")
cursor.execute("""SELECT * FROM fake_person""")
cursor.fetchone()
cursor.fetchall()
cursor.execute("""SELECT * FROM dimitri_test.fake_person""")
for rec in cursor:
    print(rec)
import datetime
faker.date_between(datetime.date(2018, 2, 3), 'today')
cursor.execute("""
drop table fake_death
""")
cursor.execute("""
CREATE TABLE dimitri_test.fake_death(
    person_id int not null,
    date_of_death date NOT NULL,
    primary key(person_id), 
    foreign key (person_id) REFERENCES dimitri_test.fake_person (person_id))
""")
cursor.execute("""
CREATE TABLE hotel_reserviation(
    
    hotel varchar(20) not null
    room  int not null,
    reservation_date date,
    person_id int not null,
    
    unique index (person_id, reservation_date),    
    primary key (hotel, room, reservation_date),
    foreign key (person_id) references fake_person(person_id)
""")
cursor.execute("""
CREATE TABLE bank_account (
    
    bank_id  int not null, 
    account int not null,
    
    primary key(bank_id, account)

""")

cursor.execute("""
CREATE TABLE bank_account_owner (
    
    bank_id  int not null, 
    account int not null,
    person_id int not null,
    
    primary key(bank_id, account, person_id),
    foreign key (person_id) references fake_person(person_id),
    foreign key (bank_id, account) references fake_person(bank_id, account),

""")

cursor.execute("""
SELECT * FROM fake_person
""")
cursor.fetchone()
cursor.execute("""INSERT into fake_death (date_of_death) values ('2020-10-09')""")
cursor.execute("""INSERT into fake_death (person_id, date_of_death) values (1000, '2020-09-09')""")
persons = cursor.execute("""SELECT person_id, date_of_birth FROM dimitri_test.fake_person""")
for rec in cursor.fetchall():
    cursor.execute("""
    INSERT INTO dimitri_test.fake_death (person_id, date_of_death) VALUES (%s, %s)
    """, (rec['person_id'], faker.date_between(rec['date_of_birth'], rec['date_of_birth'] + datetime.timedelta(days=40000))))
    

cursor.execute("""
SELECT first_name, floor(DATEDIFF(date_of_death, date_of_birth)/365.25) as died_at
FROM dimitri_test.fake_person NATURAL JOIN dimitri_test.fake_death""")

for rec in cursor:
    print(rec)
cursor.execute("""
DROP TABLE dimitri_test.fake_death
""")