# Missing and default values

In [ ]:
import datajoint as dj
import faker
fake = faker.Faker()

In [ ]:
fake.profile()

In [ ]:
schema = dj.Schema('defaults')

In [ ]:
@schema
class Person(dj.Manual):
    definition = """
    person_id : int
    ---
    blood_group = "unknown"  : enum('A+', 'A-', 'AB+', 'AB-', 'B+', 'B-', 'O+', 'O-', "unknown")
    name : varchar(60)
    """

In [ ]:
Person.insert1(dict(person_id=3, **fake.profile()), ignore_extra_fields=True)

In [ ]:
Person()

In [ ]:
Person.insert1(dict(person_id=5, name="heywood"))

In [29]:
Person.insert1(dict(person_id=6, blood_group=None, name="Henrietta Lacks"))

In [30]:
Person()

*person_id    blood_group    name
+-----------+ +------------+ +------------+
3             O+             Rachel Wilson
5             unknown        heywood
6             unknown        Henrietta Lack
 (Total: 3)

In [ ]:
import pymysql 
conn = pymysql.connect(user='root', passwd='simple', host='127.0.0.1')
cursor = conn.cursor()

In [ ]:
cursor.execute('SHOW CREATE TABLE defaults.person')
print(cursor.fetchone()[1])

In [ ]:
cursor.execute("""
INSERT defaults.person (person_id, blood_group, name) VALUES (2, "O+", "anne")
""")

In [ ]:
cursor.execute("""
INSERT defaults.person (person_id, blood_group) VALUES (4, "B+")
""")

In [31]:
cursor.execute("""
INSERT defaults.person (person_id, blood_group, name) VALUES (1, NULL, 'bob')
""")

IntegrityError: (1048, "Column 'blood_group' cannot be null")